{% extends 'base.html' %}
{% block style %}<link rel="stylesheet" type="text/css" href="/static/css/me.css"></link>{% endblock %}
{% block body %}
<div class="left">
  <h1>About Me</h1>
  <hr>
  <p>If you asked someone on the street to describe Sage Ono in three words, they might say ”Who is that?” Now , if you asked me to describe myself and I was being honest it would look like the next few paragraphs.</p>
  <p>My name is Sage Ono and I am a computer science major at Emory University. I’ve lived in Atlanta, Georgia for eight years, but I am originally from Madison, Wisconsin. I spend most of my time either swimming or reading. I competed for Emory at D3 NCAA becoming an All-American in three events. I love traveling, scuba diving, and exploring in general. I could continue talking about what I've done, but I would rather tell you about what I want to do.  I want to solve problems.</p>
  <p>There are a lot interesting and pressing problems in the world. Many are so large and complex that it seems unlikely that any person could make a dent in one let alone solve several.</p>
  <p>George Bernard Shaw once said "The reasonable man adapts himself to the world: the unreasonable one persists in trying to adapt the world to himself. Therefore all progress depends on the unreasonable man.” Assuming this is true, the best way to solve problems is to discover, create , and cultivate unreasonable people. And that is what I aim to do.</p>
  <p>There is nothing to lose but time, and everything to gain.</p>
  <hr>
</div>
<!--
  <img id="top_buffer" src="/static/images/UAA.jpg">
  <img class="right" src="/static/images/octo.jpg">
-->

{% endblock %}
