.title{
  display: inline-block;
  margin: 1%;
  font-family: 'Lato', serif;
  font-size: 2vmin;
}

.text {
  margin: 1%;
  font-size: 1.6vmin;

}

.blog {
  margin: 0 15%;
}

.title h1 {
  font-family: Times;
}

.comment_header {
  margin: 1%;
  display: inline-block;
  font-size: 1.6vmin;
}

.comment {
  margin: 1.5% .5%;
  padding: .5%;
  background: #dcd7c7;
  border-left-style: solid;
  border-color: rgb(122, 136, 162);
  font-size: 1.2vmin;
}


form {
  margin: 1%;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    height: 50%
}

#text {
  background-color: #dcd7c7;
}

#submit {
  border-style: solid;
  border-width: thin;
  border-color: #888;
  background-color: #dcd7c7;
  text-align: center;
  color: rgb(22, 36, 62);
  padding: 10px;
  width: 140px;
  font-size: 1.4vmin;
  font-family: 'Lato', serif;
  margin-top: 18px;
}

hr {
  margin: 3% 0%;
}

blockquote {
  text-align: center;
  font-style: italic;
}
