.title{
  display: inline-block;
  margin: 1%;
  font-family: 'Lato', serif;
  font-size: 24px;
}

.text {
  margin: 1%;
  font-size: 16px;

}

.blog {
  margin: 0 15%;
}

.title h1 {
  font-family: Times;
}

.comment_header {
  margin: 1%;
  display: inline-block;
}

.comment {
  margin: 1.5% .5%;
  padding: .5%;
  background: rgb(220, 210, 190);
  border-radius: 10px;
  font-size: 12px;
}


form {
  margin: 1%;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

#text {
  background-color: #dcd7c7;

}

#submit {
  border: none;
  text-align: center;
  background-color: rgb(22,36,62);
  color: rgb(255, 191, 0);
  padding: 10px;
  width: 140px;
  font-size: 16px;
  font-family: 'Lato', serif;
  margin-top: 18px;
}

blockquote {
  text-align: center;
  font-style: italic;
}
