.title{
  display: inline-block;
  margin: 1%;
  font-family: 'Times', serif;
  font-size: 2vmin;
}

.title a{
  color: black;
  font-family: 'Times', serif;
}

.text {
  margin: 1%;
  font-size: 1.6vmin;

}

.blog {
  margin: 0 15%;
}

a {
  color: rgb(0,153,153);
  text-decoration: none;
  font-family: 'Lato';
}
