.title{
  display: inline-block;
  margin: 1%;
  font-family: 'Lato', serif;
  font-size: 24px;
}

.text {
  margin: 1%;
  font-size: 20px;

}

.blog {
  margin: 0 15%;
}

.title h1 {
  font-family: Times;
}

.comment_header {
  margin: 1%;
  display: inline-block;
}

.comment {
  margin: .5%;
  padding: .5%;
  background: rgb(230, 220, 120);
  border-radius: 10px;
}

form {
  margin: 1%;
}

input[type=text]{
  width: 80%;
  border-radius: 5px;

}

input[type=submit]{
  width: 10%;
}

#text {
  background-color: #dcd7c7;

}

#submit {
  border: none;
  text-align: center;
  background-color: rgb(22,36,62);
  color: rgb(255, 191, 0);
  padding: 10px;
  width: 140px;
  font-size: 16px;
  margin-top: 8px;
}

blockquote {
  text-align: center;
  font-style: italic;
}
